.err {
	color: red;
}

.warn {
	color: yellow;
}

.info {
	color: blue;
}

body {
	width: 600px;
	margin-top: 180px;
	margin-left: 183px;
	font-family: 'trebuchet MS', 'Lucida sans', Arial;
	font-size: 14px;
	color: #444;
}

table,td, th {
	text-align:center;
	border-collapse: collapse;
	border: 2px solid black;
}

table{
	width: 100%;
}

td {
    height: 25px;
    vertical-align: middle;
    text-align:center;
    padding: 5px;
}

th {
	vertical-align: bottom;
	background-color: lightblue;
	height: 25px;
	text-align:center;
}

